/* Custom CSS */
html, body {
    width: 100%;
    height: 100%;
    font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
    overflow: hidden;
}
h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
}
h4 {
    font-size: 1.1rem;
    margin: 0;
}
span {
    font-size: 1rem;
}
p {
    font-size: 1rem;
}
hr {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    height: 100%;
}

.map-background {
    width: 100%;
    height: 110%;
}

.login-form {
    width: 80%;
    max-width: 420px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 91;
}

.login-form-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    backdrop-filter: blur(50px);
    opacity: 0.5;
    z-index: 90;
}

.login-form {
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.navbar {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.item-hr {
    margin-block: 0;
    margin-inline: 0.5rem;
    color: rgba(0, 0, 0, 0.2);
}

.search-place {
    width: calc(100% - 1rem);
    max-width: 400px;
    position: absolute;
    top: calc(56px + 0.5rem);
    left: 50%;
    padding: .75rem;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translate(-50%, -100%);
    transition: all 0.4s ease;
    z-index: 1000;
    display: none;
    align-items: center;
}

.search-place input {
    height: fit-content;
    border-radius: 50px;
    padding: 0.475rem 0.55rem;
    font-size: 0.85rem;
    line-height: 0.85rem;
}
.search-place button {
    width: 3rem;
    height: 100%;
    border-radius: 50px;
    padding: 0.475rem 0.55rem;
    font-size: 0.85rem;
    line-height: 0.85rem;
    border: 2px solid #0d6efd;
}

@keyframes slideDownFadeIn {
    from {
        transform: translate(-50%, calc(-56px - 1rem));
    }
    to {
        transform: translate(-50%, 0);
    }
}

@keyframes slideUpFadeOut {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, calc(-56px - 1rem));
    }
}

.search-place.open {
    display: flex;
    animation: slideDownFadeIn 0.4s ease forwards;
}

.search-place.close {
    animation: slideUpFadeOut 0.4s ease forwards;
}

.search-place input {
    margin-right: .5rem;
}

.location-refresh {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: calc(35% + 1rem);
    right: 1rem;
    background-color: #fff;
    color: #616161;
    border: 0.08rem solid #bfbfbf;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease;
}
.location-refresh:focus, .location-refresh:hover {
    border-color: #0a53be;
}
#mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#mainContent .main-container {
    width: 100%;
    flex-grow: 1;
}
#mainContent .main-container.standalone {
    padding-top: 5%;
    padding-bottom: 2%;
}
#mainContent .main-container .map-index {
    width: 100%;
    height: 70%;
}
#mainContent .main-container .floating-list {
    width: 100%;
    height: 35%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 800;
    touch-action: none;
}

#mainContent .main-container .floating-list.expanded {
    height: calc(100% - 56px - 10px);
}

#mainContent .main-container .floating-list .drag-handle {
    width: 90%;
    height: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    cursor: grab;
    margin: 0 auto;
}

#mainContent .main-container .floating-list .drag-handle div {
    width: 50px;
    height: 6px;
    background-color: #ccc;
    border-radius: 3px;
    margin: 0 auto;
}
#mainContent .main-container .floating-list .title-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-inline: 1rem;
}
#mainContent .main-container .floating-list .title-area .title {
    margin: 0;
}
#mainContent .main-container .floating-list .title-area .close {
    width: 32px;
    height: 32px;
    color: white;
    border: none;
    margin-inline-start: 12px;
    background-color: transparent;
    padding: 0 0;

}
#mainContent .main-container .floating-list .title-area .close i {
    color: #565a5c;
    font-size: 1.2rem;
    line-height: 32px;
}
#mainContent .main-container .floating-list .search-count {
    display: inline-block;
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    font-size: 0.95rem;
}
#mainContent .main-container .floating-list .floating-list-inner {
    height: calc(100% - 6.8rem);
    overflow-y: auto;
    padding: 0.5rem;
    -webkit-overflow-scrolling: touch;
}
#mainContent .main-container .floating-list .floating-list-inner .list {
    word-break: break-word;
}

#mainContent .main-container .floating-list .floating-list-inner #tab-list .item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: self-start;
    gap: 0.5rem;
    padding-block: 1rem;
    padding-inline: 0.75rem;
    border-radius: 10px;
    overflow: hidden;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-block: 1rem;
    padding-inline: 0.75rem;
    border-radius: 10px;
    overflow: hidden;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item.is-saved {
    flex-direction: column;
    align-items: flex-start;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item:hover,
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item:focus,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item:hover,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item:focus {
    outline: none;
    border: none;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item .place-info .place-distance,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item .place-info .place-distance {
    font-size: 0.75rem;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item .place-info .place-address,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item .place-info .place-address {
    font-size: 0.9rem;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item .place-info,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item .toilet-info {
    white-space: nowrap;
}
#mainContent .main-container .floating-list .floating-list-inner .item .toilet-info table tbody {
    display: flex;
    gap: 16px;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item .toilet-info tr > td:first-child,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item .toilet-info tr > td:first-child {
    padding-inline: 0.25rem;
}
#mainContent .main-container .floating-list .floating-list-inner #tab-list .item .toilet-info button,
#mainContent .main-container .floating-list .floating-list-inner #tab-search .item .toilet-info button {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 1rem;
}

#add-toilet-modal .gender-section-title {
    font-weight: 600;
}

#add-toilet-modal .add-toilet-key {
    min-height: auto;
    margin: 0;
    padding: 0;
    padding-block: 0.375rem;
}
#add-toilet-modal .toilet-key {
    text-align: right;
    border: none;
}
#add-toilet-modal .add-toilet-key input {
    width: 2.4em;
    height: 1.3em;
    margin: 0;
    padding: 0;
}
#add-toilet-modal .add-toilet-floor {
    width: 20%;
    text-align: center;
    border: none;
}